/* Generics */
body {
  font-family: sans-serif;
}

/* Utils */

/* Row boxes */
#boxes-row .col-3 {
height: 50px;
margin: 10px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}